body{text-align: center;font-family: 'Source Code Pro', monospace;
 background: white;  /* fallback for old browsers */
}

ul {text-align: left;}

img {text-align: left;}

.my-navbar{
	background: white;
	display: flex;	
    justify-content: space-around;
    align-items: center;
}

.logo {
	width: 200px;
	height: 200px;
	object-fit: cover;
	margin: 20px;
	border-radius: 50%;
	box-shadow: 10px 10px 10px;
}


h1{color: darkred; font-family: font-family: 'Source Code Pro', monospace;}

h2{color: burlywood;}

.frame {
	background: white;
	border: solid 10px gold;
	border-radius: 20px;
	padding: 20px;
	margin: 40px;
	box-shadow: 10px 10px 10px;
}

.frame2 {
	background: white;
	border: solid 10px gold;
	border-radius: 20px;
	margin: 40px;
	padding: 20px;
}
.frame3 {
	background: white;
	border: solid 10px gold;
	border-radius: 20px;
	padding: 50px;
	margin: 40px;
}

.galery { 
display: flex;
justify-content: space-around;
align-items: center;
 }


.avatar {
	width: 200px;
	height: 200px;
	object-fit: cover;
	margin: 20px;
	border-radius: 50%;
	box-shadow: 10px 10px 10px;
}

.map {
color : burlywood;
display: flex;	
justify-content: space-around;

}

.footer { 
display: flex;
justify-content: space-around;
background:white;
color : darkred; 
 }

.informations { 
background: white;
display: flex;	
justify-content: space-around;
align-items: center;
 }